body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-image: url("https://db3pap002files.storage.live.com/y4muBNXSQAru0_BC4NlV3d8elTmIvU_yXi5WskFoeblu6p0S9kbuB-pXpP-6_OoAvnnDdteN8yQoVCzC5g1QSoYcGbbliWG6S-PnQEmh7NWM5U7qjRzie7SE4e4wIrs4SGj3Ts48zSrEL_HibV407pAiEaBQAnkge4XxIBKs78MuS_lwpFCf56RwUASpfvx65OjoIAy_Jxxac6I4RU5V1xfcINKErIsWh1hbyIz2Rj811I?encodeFailures=1&width=626&height=352");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    background-color: rgba(0, 12, 41,0.9);
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin: 10px 0;
}

.info-section {
    background-color: rgba(176, 196, 222, 0.9);
    color: #333;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin-left: 20px 50px;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.time .hours-minutes {
    font-size: 3em;    
    font-weight: bold;
}

.time .seconds {
    font-size: 1.2em;
    color: #555;
}

.time .date {
    font-size: 1.2em;
    color: #777;
    margin-top: 5px;
}

.visitor-counter {
    font-size: 1.2em;
    color: #333;
}


main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.category-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(176, 196, 222, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.category-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 25px;
    object-fit: cover;
}

.category-content {
    padding: 15px;
}

.category-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.category-content p {
    font-size: 1em;
    margin-bottom: 15px;
}

.button {
    display: inline-block;
    text-decoration: none;
    background-color: #3a3a3a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #555;
}

.category-image-gallery img {
    width: calc(50% - 15px);
}

.category-image-gallery img:nth-child(n+3) {
    width: 100%;
}


footer {
    background-color: rgba(0, 12, 41,0.9);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}
